<!--
<div class="app">
  <h1>{{title}}</h1>

  <nav>
    <a routerLink="/dashboard">Dashboard</a><br/>
  </nav>
  
</div>
-->



<router-outlet></router-outlet>


<!--
<div id="Web_1920__6">
	<svg class="Rectangle_6">
		<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="1024" height="768">
		</rect>
	</svg>
	<div id="Bezahlen">
		<span>
      <a routerLink="/checkout">Checkout</a><br/>
    </span>
	</div>
	<div id="Group_7">
	</div>
	<div id="Group_2">
	</div>
	<div id="Group_1">
	</div>
	<div id="Group_5">
	</div>
	<div id="Group_4">
	</div>
</div>
-->